.main {
  background-color: var(--bg);
}

.imageContainer {
  position: relative;
  width: fit-content;
  height: max(15vh, 30px);
  margin-left: 10fr;
}

.logoImage {
  width: auto;
  height: 100%;
}
